* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 92px 0px
}

body {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7f7 100%);
    height: 100vh;
}

/* NAV */

nav {
    margin: 24px;
}

nav .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_links {
    margin: 24px 0px;
}

.nav_link {
    margin-right: 12px;
    padding-bottom: 3px;
    text-decoration: none;
    color: #242424;
    font-size: 20px;
    transition: all 300ms ease;
}

.link_hover {
    position: relative;
}

.link_hover::after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: #242424;
    transition: all 300ms ease;
}

.link_hover:hover::after {
    left: 0;
    width: 100%;
}

.logo {
    height: 128px;
}

header .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 36px;
    margin-bottom: 24px;
    font-weight: bold;
}

.intro_para {
    font-size: 20px;
    text-align: center;
}

#landing .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz_container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.1);
    width: 60%;
    overflow: hidden;
}

.quiz_header {
    padding: 64px;
}

h2 {
    padding: 16px;
    text-align: center;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 16px;
    margin: 16px 0;
}

label {
    cursor: pointer;
}

button {
    background-color: #242424;
    color: #ffffff;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    font-size: 18px;
    transition: all 150ms ease;
    cursor: pointer;
}

button:hover {
    background-color: darkgrey;
    color: #242424;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results p {
    font-size: 16px;
    padding: 8px;
}

.value {
    color: gold;
}

.good {
    color: green;
}

.better {
    color: blue;
}

.best {
    color: red;
}

.npr {
    color: purple;
}

.highlight {
    background-color: yellow;
    color: #242424;
    border-radius: 8px;
    padding: 8px;
}